PANDAS FINAL

In [1]:
import pandas as pd
import numpy as np

In [2]:
a=pd.Series([1,2,3,4,5,6,7,8])

In [3]:
a

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [4]:
a=pd.Series([1,7,4,2,9,3,8,])
a

0    1
1    7
2    4
3    2
4    9
5    3
6    8
dtype: int64

In [7]:
b=pd.Series([4,5,6,7,2,3])

In [8]:
b

0    4
1    5
2    6
3    7
4    2
5    3
dtype: int64

In [11]:
c=pd.Series([44,66,88,22,11],index=[11,12,13,14,15])
c

11    44
12    66
13    88
14    22
15    11
dtype: int64

In [12]:
c=pd.Series([44,66,88,22,11],index=[11,12,13,14,15],dtype=float)
c

11    44.0
12    66.0
13    88.0
14    22.0
15    11.0
dtype: float64

In [14]:
a=pd.Series([3,4,5,6,7,8])
print(a[0])

3

In [15]:
a=pd.Series([3,4,5,6,7,8])
print(a[0:3])

0    3
1    4
2    5
dtype: int64

In [16]:
data =np.array([1,2,3,4,5])
m=pd.Series(data)
m

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [17]:
demodict={'name':'x','age':12}
s1=pd.Series(demodict)
s1

name     x
age     12
dtype: object

In [20]:
csk={'name':"mounika","age":25,"country":"india"}
csk=pd.Series(csk)
csk

name       mounika
age             25
country      india
dtype: object

In [21]:
d={"sql":80,"python":70,"java":75,"html":78}
d=pd.Series(d)
print(d)

sql       80
python    70
java      75
html      78
dtype: int64

DATA FRAMES

In [29]:
data = [1,2,3,4,5,6]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [26]:
    import pandas as pd

In [28]:
data = [1,2,3,4]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4

In [31]:
import pandas as pd

dt=(['sam',20],['john',40],['kingle',50])
dt=pd.DataFrame(dt)
print(dt)

        0   1
0     sam  20
1    john  40
2  kingle  50

In [39]:
import pandas as pd


data={'name':['don', 'john', 'mathew'],'age':[20,57,66]}
data=pd.DataFrame(data)
print(data)

     name  age
0     don   20
1    john   57
2  mathew   66

In [40]:
x={'student name':['fathima','ridhima','jothima'],'class':[4,5,6]}
x=pd.DataFrame(x)
print(x)

  student name  class
0      fathima      4
1      ridhima      5
2      jothima      6

In [46]:
data=[['job',56],['bob',89],['rob',78]]
data=pd.DataFrame(data,columns=['name','age'],dtype=float)
print(data)

  name   age
0  job  56.0
1  bob  89.0
2  rob  78.0

In [47]:
data=[{'a':1,'b':2},{'a':2,'b':4,'c':6}]
data=pd.DataFrame(data,dtype=float)
print(data)

     a    b    c
0  1.0  2.0  NaN
1  2.0  4.0  6.0

In [49]:
data=[{'a':3,'b':5,'c':8},{'a':5,'c':4,'d':10}]
data=pd.DataFrame(data,dtype=float)
print(data)

     a    b    c     d
0  3.0  5.0  8.0   NaN
1  5.0  NaN  4.0  10.0

In [56]:
data=[{'a':5,'b':4,'c':8,'d':10},{'a':6,'c':1}]
data1=pd.DataFrame(data,index=['first','second'],columns=['a','b','c','d'])
data2=pd.DataFrame(data,index=['first','second'],columns=['a','b1','c','d1'])
print(data1)
print("\n")
print(data2)

        a    b  c     d
first   5  4.0  8  10.0
second  6  NaN  1   NaN


        a  b1  c  d1
first   5 NaN  8 NaN
second  6 NaN  1 NaN

In [57]:
df1=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[4,5],[6,7]],columns=['a','b'])

df3=df1.append(df2)
print(df3)

   a  b
0  1  2
1  3  4
0  4  5
1  6  7

In [59]:
df=pd.DataFrame(np.random.randn(8,4),columns=['A','B','C','D'])
df

          A         B         C         D
0 -1.209371 -2.904919  0.495638 -2.623767
1 -0.613483  0.298650  1.989438 -1.952578
2 -0.037177 -0.558338 -0.157624 -0.373802
3 -0.617030  0.025680 -0.856130  1.090211
4 -0.277228  0.901057  0.031769 -0.024722
5 -0.851883  0.264774 -0.242719  2.160463
6 -0.837142 -0.596864  0.887875  0.872706
7  0.984186  1.446465 -0.075665 -0.295627

In [62]:
print(df.loc[0:3,'A':'C'])

          A         B         C
0 -1.209371 -2.904919  0.495638
1 -0.613483  0.298650  1.989438
2 -0.037177 -0.558338 -0.157624
3 -0.617030  0.025680 -0.856130

In [63]:
print(df.iloc[0:3,0:2])

          A         B
0 -1.209371 -2.904919
1 -0.613483  0.298650
2 -0.037177 -0.558338

In [65]:
print(df.iloc[4:7,1:3])

          B         C
4  0.901057  0.031769
5  0.264774 -0.242719
6 -0.596864  0.887875

In [67]:
print(df.iloc[:,1:3])

          B         C
0 -2.904919  0.495638
1  0.298650  1.989438
2 -0.558338 -0.157624
3  0.025680 -0.856130
4  0.901057  0.031769
5  0.264774 -0.242719
6 -0.596864  0.887875
7  1.446465 -0.075665

In [72]:
print(df.iloc[:,0:1])

          A
0 -1.209371
1 -0.613483
2 -0.037177
3 -0.617030
4 -0.277228
5 -0.851883
6 -0.837142
7  0.984186

In [73]:
print(df.iloc[:,1:2])

          B
0 -2.904919
1  0.298650
2 -0.558338
3  0.025680
4  0.901057
5  0.264774
6 -0.596864
7  1.446465

In [74]:
print(df.iloc[:,2:3])

          C
0  0.495638
1  1.989438
2 -0.157624
3 -0.856130
4  0.031769
5 -0.242719
6  0.887875
7 -0.075665

In [78]:
print(df.iloc[:,-1])

0   -2.623767
1   -1.952578
2   -0.373802
3    1.090211
4   -0.024722
5    2.160463
6    0.872706
7   -0.295627
Name: D, dtype: float64